*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter,sans-serif;
}

body{

background:#111;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}

.login-container{

background:white;

padding:50px;

border-radius:18px;

width:400px;

box-shadow:0 20px 60px rgba(0,0,0,.25);

display:flex;

flex-direction:column;

gap:18px;

}

.logo{

width:180px;

margin:auto;

}

h1{

text-align:center;

font-size:26px;

margin-bottom:10px;

}

input{

padding:14px;

border-radius:10px;

border:1px solid #ddd;

font-size:16px;

}

button{

padding:15px;

border:none;

background:black;

color:white;

font-size:16px;

border-radius:10px;

cursor:pointer;

}

button:hover{

opacity:.9;

}

#error{

color:red;

text-align:center;

}

.password-wrapper{

    position:relative;
    width:100%;

}

.password-wrapper input{

    width:100%;
    box-sizing:border-box;

}

.toggle-password{

    position:absolute;

    right:12px;
    top:50%;

    transform:translateY(-50%);

    border:none;
    background:none;

    cursor:pointer;

    font-size:18px;

    padding:0;

    color:#777;

}

.toggle-password:hover{

    color:#000;

}
